
/*********************START SCREEN******************/

@media (max-width: 480px) {
    body{font-size: 10px;}
}

@media (min-width: 481px) {
    body{font-size: 20px;}
}

html{
  height: 100%;
}
body {
  min-height: 100%;
}

.jumbotron {
    text-align: center;
    position: relative;
    align-items: center;
}


#start, #game, #finish{
  min-height:100%;
  background: url(../assets/background.png);
  background-color: #06274D;
  background-size:cover;
  z-index: 1;
}

/*big orange button -- start, finish and next*/
.startbutton{
    background: #FFA35F;
    box-shadow: 0 6px 14px 0 rgba(71,77,83,0.29);
    border-radius: 8px;
    font-family: OpenSans-Bold;
    font-size: 2em;
    color: #FFFFFF;
    text-transform: uppercase;
}

h1 {
    font-family: OpenSans-Bold;
    font-size: 3em;
    color: #FFFFFF;
    text-transform: uppercase;
}


/*********************MAIN GAME SCREEN******************/

.gameanswer {
background-color: #06274D;
border-color: #FFA35F;
border-style: solid;
border-width: 5px;
border-radius: 6px;
box-shadow: 0 6px 14px 0 rgba(71,77,83,0.29);
font-family: OpenSans;
text-transform: uppercase;
color: #FFFFFF;
padding: 5px;
font-size: 2em;
}

#gamequestion {
background: #FFFFFF;
border: 3px solid #FFA35F;
border-radius: 6px;
font-family: OpenSans-Semibold; 
font-size: 2em;
color: #06274D;
}

/*level count*/
.score{
font-family: OpenSans-Bold;
font-size: 1.5em;
color: #C4FFDD;
background-color: transparent;

}

/*level count*/
.back{
font-family: OpenSans-Bold;
font-size: 1.5em;
color: #C4FFDD;
background-color: transparent;

}

/* word prompt box - answer */
.answer{
color: #FFA35F;
text-transform: uppercase;
font-size: 1.5em;
font-family: OpenSans-ExtraBold; 
}

.stairs{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: auto;
}
/********************* FINISH ******************/

/* You got + Correct */
#finalscore{
    font-family: OpenSans-Bold;
    font-size: 2em;
    color: #FFA35F;
    text-align: center;
    

}
