
/*********************START SCREEN******************/

html{
  height: 100%;
}
body {
  min-height: 100%;
}

.jumbotron {
    text-align: center;
    position: relative;
    align-items: center;
}
.jumbotron .back {
    position: absolute;
    left: 0;
    top: 0;
}
.jumbotron .score {
    position: absolute;
    right: 0;
    top: 0;
}
#start{
  min-height:100%;
  background-image: url(../assets/background.png);
  background-color: #06274D;
  background-size:cover;
}

/*big orange button -- start, finish and next*/
#startButton{
    background: #FFA35F;
    box-shadow: 0 6px 14px 0 rgba(71,77,83,0.29);
    border-radius: 8px;
    font-family: OpenSans-Bold;
    font-size: 38px;
    color: #FFFFFF;
    text-transform: uppercase;
}

h1 {
    font-family: OpenSans-Bold;
    font-size: 38px;
    color: #FFFFFF;
    text-transform: uppercase;
}


/*********************MAIN GAME SCREEN******************/

#game{
    min-height:100%;
  background-image: url(../assets/background.png);
  background-color: #06274D;
  background-size:cover;
}

.gameanswer {
background-color: #06274D;
border-color: #FFA35F;
border-style: solid;
border-width: 5px;
border-radius: 6px;
box-shadow: 0 6px 14px 0 rgba(71,77,83,0.29);
font-family: OpenSans;
text-transform: uppercase;
font-size: 18px;
color: #FFFFFF;
padding: 5px;
}

.gamequestion {
background: #FFFFFF;
border: 3px solid #FFA35F;
border-radius: 6px;
font-family: OpenSans-Semibold; 
font-size: 16x; 
color: #06274D;
}

/*level count*/
.score{
font-family: OpenSans-Bold;
font-size: 25px;
color: #C4FFDD;
background-color: transparent;

}

/*level count*/
.back{
font-family: OpenSans-Bold;
font-size: 25px;
color: #C4FFDD;
background-color: transparent;

}

/* word prompt box - answer */
#answer{
color: #FFA35F;
text-transform: uppercase;
font-size: 18px;
font-family: OpenSans-ExtraBold; 
}